@import "tachyons";

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.material-icons {
  font-size:inherit;
} 

.code, code {
  font-family: Source Code Pro;
}

.lighter { color:#E7E8EA /* Lighter */ }
.light { color:#D1D2D4 /* Light */ }
.grey4 { color:#21252B /* Darker */ }
.grey3 { color:#282C34 /* BG */ }
.grey2 { color:#5C6370 /* Comments */ }
.grey1 { color:#A6B2BF /* Text */ }
.green { color:#46BB86 /* Green */ }
.blue { color:#41BDFF /* Blue */ }
.orange { color:#F99728 /* Orange */ }


.bg-lighter { background-color:#E7E8EA /* Lighter */ }
.bg-light { background-color:#D1D2D4 /* Light */ }
.bg-grey4 { background-color:#21252B /* Darker */ }
.bg-grey3 { background-color:#282C34 /* BG */ }
.bg-grey2 { background-color:#5C6370 /* Comments */ }
.bg-grey1 { background-color:#A6B2BF /* Text */ }
.bg-green { background-color:#46BB86 /* Green */ }
.bg-blue { background-color:#41BDFF /* Blue */ }
.bg-orange { background-color:#F99728 /* Orange */ }
.bg-white-03 { background-color:rgba(255,255,255,.03); }

code.language-css {color:#F99728}
code.language-css .token.property, .language-css .token.punctuation {color:#A6B2BF}
code.language-css .token.comment {color:#5C6370}



code {
  counter-increment: a;
}
code:before {
  content: counter(a);
  user-select: none;
  color: #5C6370;
  font-style: normal;
  width: 4ch;
  display: inline-block;
  overflow: hidden;
  opacity: .5;
}
code.language-css:before {
  width: 7ch;
}
pre.active code.language-css {
  background-color: rgba(255,255,255,.05);
}


/* https://chrisbracco.com/a-simple-css-tooltip/ */
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}
/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  margin-bottom: 5px;
  padding: 7px;
  width: 160px;
  border-radius: 3px;
  background-color: #D1D2D4;
  color: #5C6370;
  content: attr(data-tooltip);
  text-align: center;
  font-size: .8rem;
}
/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #D1D2D4;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}
/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}